# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# Coveage directories
coverage

# output directories
lib

# config files
src/config

# env files
.env